@import 'vars';

.OrderItem {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  gap: 16px;
  margin-bottom: 24px;
  align-items: center;
}
.OrderItem figure {
  margin: 0;
}
.OrderItem figure img {
  width: 70px;
  height: 70px;
  border-radius: 20px;
  object-fit: cover;
}
.OrderItem p:nth-child(2) {
  color: $--very-light-pink;
}
.OrderItem p:nth-child(3) {
  font-size: $--md;
  font-weight: bold;
}

.OrderItem button {
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
}
